/* ---- fonts ---- */
/* ------------- Headings Etc -------------------- */
h1, h2, h3, h4, .h1, .h2, .h3, .h4, .h8, .h9, .h10, .h11, .h12,
h1 a, h2 a, h3 a, h4 a, .h1 a, .h2 a, .h3 a, .h4 a, .h8 a, .h9 a, .h10 a, .h11 a, .h12 a {
  color: #002e5d; }

h5 a, .h5 a,
h5, .h5, .h9.gray, .h9.gray a, .h11.gray, .h11.gray a {
  color: #767676; }

h6 a, .h6 a, .h7 a, .h8.white a, .h9.white a, .h11.white a, .h12.white a, .h13 a,
h6, .h6, .h7, .h8.white, .h9.white, .h10.white, .h10.white a, .h11.white, .h12.white, .h13 {
  color: #fff; }

h1, h2, .h1, .h2 {
  font-family: "Vitesse A", "Vitesse B", serif; }

h3, h5, h6, .h3, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13 {
  font-family: "Gotham A", "Gotham B", Arial, sans-serif; }

h1, .h1 {
  font-size: 35px;
  line-height: 34px;
  text-align: center; }

h2, .h2 {
  font-size: 25px;
  line-height: 34px;
  text-align: center; }

h3, .h3 {
  font-size: 15px;
  letter-spacing: -.2px;
  line-height: 19px; }
  h3 a:hover, .h3 a:hover {
    font-weight: bold; }

h4 {
  font-size: 18px;
  line-height: 20px; }
  h4 a:hover {
    color: #003DA5; }

h5 {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .33px; }

h6 {
  font-size: 25px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center; }

.h7 {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center; }

.h8 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -.2px;
  text-align: center; }

.h9 {
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: .4px; }
  .h9 a:hover {
    color: #003DA5; }

.h10 {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold; }
  .h10.white {
    color: #fff; }

.h11 {
  font-family: "Gotham A", "Gotham B", Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px; }
  @media screen and (max-width: 1024px) {
    .h11 {
      font-size: 26px; } }

.h12 {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  /*letter-spacing:*/ }

.h13 {
  font-size: 45px;
  /*line-height:*/ }

.view-content-page-header .views-field-title {
  margin-top: -32.85px; }

div#wrapper {
  margin-top: -17px; }

@media screen and (min-width: 768px) {
  .h13 {
    font-size: 90px; }
  .view-content-page-header .views-field-title {
    margin-top: -45px; }
  div#wrapper {
    margin-top: 1px; } }

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 17px;
    /*line-height: ??;*/ }
  .h13 {
    font-size: 120px; }
  .view-content-page-header .views-field-title {
    margin-top: -60px; }
  div#wrapper {
    margin-top: 11px; } }

@media screen and (min-width: 1224px) {
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 35px; }
  h3 {
    font-size: 20px; }
  /* we may not do this this way */
  .h8 {
    font-size: 16px;
    line-height: 17px; }
  .h9 {
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 48px; }
  .h10 {
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -2.5px;
    font-weight: 500; }
  .h13 {
    font-size: 135px; }
  .view-content-page-header .views-field-title {
    margin-top: -67.5px; }
  div#wrapper {
    margin-top: -16px; } }

@media screen and (min-width: 1824px) {
  .h13 {
    font-size: 200px; }
  .view-content-page-header .views-field-title {
    margin-top: -90px; }
  div#wrapper {
    margin-top: -16px; } }

/* ----------- BYU HOMEPAGE SPECIFIC--------- */
a {
  color: #002E5D; }

a:hover {
  color: #003DA5; }

.navy-circle {
  background: #002E5D;
  padding: 25px;
  border: 2px solid #767676;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.vertical-dots {
  display: flex;
  flex-direction: column;
  margin: 15px 0px; }
  .vertical-dots .gray-dot {
    color: #767676;
    font-size: 60px;
    margin: 0px; }

/* ----- helpful classes ----------- */
.normal-weight {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.semibold {
  font-weight: 500; }

.all-caps {
  text-transform: uppercase; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.centered-text {
  text-align: center; }

.centered-margin {
  margin-left: auto;
  margin-right: auto; }

.royal-button {
  padding: 12px 25px;
  background: #003DA5;
  color: #fff; }
  .royal-button a:hover {
    text-decoration: none; }
  .royal-button a, .royal-button a:hover, .royal-button a:active, .royal-button a:visited {
    color: #fff; }

.medblue-button {
  padding: 12px 25px;
  background: #002e5d;
  /* change to medium blue */
  color: #fff; }
  .medblue-button a:hover {
    text-decoration: none; }

.bg-lightgray {
  background: #e5e5e5; }

.bg-darkgray {
  background: #6a6a6b; }

.navy-circle {
  background: #002E5D;
  padding: 25px;
  border: 2px solid #767676;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.vertical-dots {
  display: flex;
  flex-direction: column;
  margin: 15px 0px; }
  .vertical-dots .gray-dot {
    color: #767676;
    font-size: 60px;
    margin: 0px;
    display: none; }

.blue-dot-after:after {
  content: "*";
  color: #002E5D; }

/* ----------- Shared / General CSS Animations -------- */
@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: .7; }
  100% {
    opacity: 1; } }

@keyframes fadeinfast {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes type {
  from {
    width: 0; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

@keyframes blink {
  to {
    opacity: .0; } }

/* --------- Regions ---------- */
/* ---- header --- */
.byu-search .visually-hidden,
.byu-search input#edit-submit {
  display: none; }

.byu-search .form-control.__byu-search-selected-input {
  width: 100%;
  height: 35px; }

/* ----- main page --------- */
.type-about .main, .type-academic .main, .type-admissions .main, .type-campus-life .main, .type-yfacts-test .main {
  padding: 20px 0px; }
  @media screen and (min-width: 1024px) {
    .type-about .main .node__content > :not(.full-width-bar), .type-academic .main .node__content > :not(.full-width-bar), .type-admissions .main .node__content > :not(.full-width-bar), .type-campus-life .main .node__content > :not(.full-width-bar), .type-yfacts-test .main .node__content > :not(.full-width-bar) {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 1424px) {
    .type-about .main .node__content > :not(.full-width-bar), .type-academic .main .node__content > :not(.full-width-bar), .type-admissions .main .node__content > :not(.full-width-bar), .type-campus-life .main .node__content > :not(.full-width-bar), .type-yfacts-test .main .node__content > :not(.full-width-bar) {
      max-width: 1224px; } }
  @media screen and (max-width: 1424px) and (min-width: 1224px) {
    .type-about .main .node__content > :not(.full-width-bar), .type-academic .main .node__content > :not(.full-width-bar), .type-admissions .main .node__content > :not(.full-width-bar), .type-campus-life .main .node__content > :not(.full-width-bar), .type-yfacts-test .main .node__content > :not(.full-width-bar) {
      max-width: 1020px; } }
  @media screen and (max-width: 1223px) and (min-width: 1024px) {
    .type-about .main .node__content > :not(.full-width-bar), .type-academic .main .node__content > :not(.full-width-bar), .type-admissions .main .node__content > :not(.full-width-bar), .type-campus-life .main .node__content > :not(.full-width-bar), .type-yfacts-test .main .node__content > :not(.full-width-bar) {
      max-width: 824px; } }
  .type-about .main .container, .type-academic .main .container, .type-admissions .main .container, .type-campus-life .main .container, .type-yfacts-test .main .container {
    width: 100%;
    padding: 0px; }
  .type-about .main .full-width-bar, .type-academic .main .full-width-bar, .type-admissions .main .full-width-bar, .type-campus-life .main .full-width-bar, .type-yfacts-test .main .full-width-bar {
    width: 100%;
    max-width: 100%;
    padding: 30px 15px; }
    .type-about .main .full-width-bar .field, .type-about .main .full-width-bar .full-width-bar-inner, .type-academic .main .full-width-bar .field, .type-academic .main .full-width-bar .full-width-bar-inner, .type-admissions .main .full-width-bar .field, .type-admissions .main .full-width-bar .full-width-bar-inner, .type-campus-life .main .full-width-bar .field, .type-campus-life .main .full-width-bar .full-width-bar-inner, .type-yfacts-test .main .full-width-bar .field, .type-yfacts-test .main .full-width-bar .full-width-bar-inner {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
    .type-about .main .full-width-bar .full-width-bar-inner, .type-academic .main .full-width-bar .full-width-bar-inner, .type-admissions .main .full-width-bar .full-width-bar-inner, .type-campus-life .main .full-width-bar .full-width-bar-inner, .type-yfacts-test .main .full-width-bar .full-width-bar-inner {
      display: flex; }
  .type-about .main .full-width-bar.has-yfacts, .type-academic .main .full-width-bar.has-yfacts, .type-admissions .main .full-width-bar.has-yfacts, .type-campus-life .main .full-width-bar.has-yfacts, .type-yfacts-test .main .full-width-bar.has-yfacts {
    padding: 0; }

/* ----------- Front Page ------- */
.views-field.views-field-field-header-image {
  margin-top: -4vw; }

/* ---- Admissions Page ---------- */
/* ----- Academics Page ------------ */
/* ------------ Campus Life Page ------------ */
/* -------- Basic Pages ------------- */
.field--name-field-links {
  text-align: center; }
  .field--name-field-links .field__label {
    margin-right: 15px; }
  .field--name-field-links .field__item {
    margin-right: 10px; }
  .field--name-field-links div {
    display: inline; }
    @media screen and (max-width: 767px) {
      .field--name-field-links div {
        display: block; }
        .field--name-field-links div div.field__item {
          display: inline; } }
    .field--name-field-links div a {
      color: white;
      background-color: #002E5D;
      padding: 10px 2em; }
  .field--name-field-links div.field__item:last-of-type a {
    background-color: #697F96;
    padding: 10px 3.5em; }

.freshman_profile_wrapper {
  background-color: #e5e5e5;
  padding-top: 100px; }
  @media screen and (max-width: 1223px) {
    .freshman_profile_wrapper {
      padding-top: 130px; } }

.node__content.freshman_profile .field__label {
  padding-left: 200px;
  font-family: "Vitesse A", "Vitesse B", serif;
  font-weight: normal; }
  @media screen and (max-width: 1424px) {
    .node__content.freshman_profile .field__label {
      padding-left: 100px; } }
  @media screen and (max-width: 1223px) {
    .node__content.freshman_profile .field__label {
      padding-left: 52px; } }
  @media screen and (max-width: 1023px) {
    .node__content.freshman_profile .field__label {
      padding-left: 152px; } }
  @media screen and (max-width: 991px) {
    .node__content.freshman_profile .field__label {
      padding-left: 0;
      text-align: center; } }

.node__content.freshman_profile .field__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .node__content.freshman_profile .field__items > .field__item {
    width: 400px;
    background-color: white;
    margin: 10px;
    padding: 10px 30px;
    color: #697F96; }
    @media screen and (min-width: 321px) and (max-width: 1223px) {
      .node__content.freshman_profile .field__items > .field__item {
        width: 350px; } }
    @media screen and (max-width: 320px) {
      .node__content.freshman_profile .field__items > .field__item {
        width: 310px;
        margin: 10px -10px;
        padding: 10px 15px; } }
    .node__content.freshman_profile .field__items > .field__item .field-collection-item--name-field-freshman-profile div {
      line-height: normal; }
    .node__content.freshman_profile .field__items > .field__item .field-collection-item--name-field-freshman-profile .field--name-field-data-type {
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase; }
    .node__content.freshman_profile .field__items > .field__item .field-collection-item--name-field-freshman-profile img.freshman-profile-icon {
      float: left;
      padding-right: 10px;
      height: 40px; }

.view-id-admissions_links.view-display-id-block_1 {
  margin-top: 20px;
  border-top: solid #c5c5c5 1px;
  padding-top: 20px; }
  .view-id-admissions_links.view-display-id-block_1 li {
    line-height: normal; }
  .view-id-admissions_links.view-display-id-block_1 .view-content ul {
    list-style-type: none;
    padding-left: 10px; }
    .view-id-admissions_links.view-display-id-block_1 .view-content ul span.h9 {
      line-height: normal; }
    .view-id-admissions_links.view-display-id-block_1 .view-content ul ul ul div.views-field-name a:before {
      content: "> "; }
    .view-id-admissions_links.view-display-id-block_1 .view-content ul ul ul li {
      margin-left: 1em;
      text-indent: -1em; }
    .view-id-admissions_links.view-display-id-block_1 .view-content ul span.field-content {
      text-transform: uppercase;
      color: #767676; }
      .view-id-admissions_links.view-display-id-block_1 .view-content ul span.field-content a {
        text-transform: none; }
  .view-id-admissions_links.view-display-id-block_1 .view-content > ul {
    padding-left: 0;
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 991px) {
      .view-id-admissions_links.view-display-id-block_1 .view-content > ul {
        flex-wrap: wrap; } }
    .view-id-admissions_links.view-display-id-block_1 .view-content > ul > li {
      width: 360px;
      border-right: solid #c5c5c5 1px; }
      .view-id-admissions_links.view-display-id-block_1 .view-content > ul > li > div {
        display: none; }
      @media screen and (max-width: 991px) {
        .view-id-admissions_links.view-display-id-block_1 .view-content > ul > li {
          width: 400px;
          border-right: 0;
          border-bottom: solid #c5c5c5 1px;
          padding-bottom: 10px; } }
      @media screen and (min-width: 992px) and (max-width: 1223px) {
        .view-id-admissions_links.view-display-id-block_1 .view-content > ul > li {
          width: 310px; } }
      .view-id-admissions_links.view-display-id-block_1 .view-content > ul > li .views-field-name {
        padding-top: 15px;
        padding-bottom: 5px; }
    .view-id-admissions_links.view-display-id-block_1 .view-content > ul > li:last-of-type {
      border-right: 0; }
      @media screen and (max-width: 991px) {
        .view-id-admissions_links.view-display-id-block_1 .view-content > ul > li:last-of-type {
          border-bottom: 0; } }

.field-collection-item--name-field-tuition-info {
  margin-top: 50px;
  text-align: center;
  line-height: normal; }
  .field-collection-item--name-field-tuition-info div.branchpath {
    margin: 0px 0;
    display: flex;
    justify-content: center; }
    .field-collection-item--name-field-tuition-info div.branchpath div.branchpath-svg-container {
      width: 400px;
      height: 100px; }
      @media screen and (max-width: 1223px) {
        .field-collection-item--name-field-tuition-info div.branchpath div.branchpath-svg-container {
          width: 262px;
          height: 60px; } }
      @media screen and (max-width: 767px) {
        .field-collection-item--name-field-tuition-info div.branchpath div.branchpath-svg-container {
          width: 160px; } }
  .field-collection-item--name-field-tuition-info div.branchpath.sub-branch div.branchpath-svg-container {
    width: 180px; }
    @media screen and (max-width: 1223px) {
      .field-collection-item--name-field-tuition-info div.branchpath.sub-branch div.branchpath-svg-container {
        margin-top: 5px;
        height: 30px; } }
  @media screen and (max-width: 320px) {
    .field-collection-item--name-field-tuition-info {
      width: 310px; } }
  .field-collection-item--name-field-tuition-info .h9 {
    line-height: normal; }
  .field-collection-item--name-field-tuition-info .subsidies {
    color: #767676;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    margin-top: 1em; }
  @media screen and (max-width: 991px) {
    .field-collection-item--name-field-tuition-info .subsidies-left {
      display: none; } }
  @media screen and (min-width: 992px) {
    .field-collection-item--name-field-tuition-info .subsidies-bottom {
      display: none; } }
  .field-collection-item--name-field-tuition-info .tuition-header {
    display: inline-block;
    width: 400px;
    padding: 20px;
    background-color: #6a6a6b;
    color: white;
    font-weight: normal; }
    @media screen and (max-width: 767px) {
      .field-collection-item--name-field-tuition-info .tuition-header {
        width: auto; } }
    .field-collection-item--name-field-tuition-info .tuition-header .how-much {
      font-style: italic;
      font-size: 25px; }
    .field-collection-item--name-field-tuition-info .tuition-header .for-full-time {
      font-size: 12px;
      text-transform: uppercase; }
  .field-collection-item--name-field-tuition-info .grad-split {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .field-collection-item--name-field-tuition-info .grad-split .undergrad-header, .field-collection-item--name-field-tuition-info .grad-split .undergrad-header-small, .field-collection-item--name-field-tuition-info .grad-split .graduate-header {
      background-color: #002E5D;
      color: white;
      padding: 10px;
      margin: 0 50px; }
    .field-collection-item--name-field-tuition-info .grad-split .undergrad-header-small {
      display: none; }
    .field-collection-item--name-field-tuition-info .grad-split .graduate-header {
      background-color: #697F96; }
    @media screen and (max-width: 1223px) {
      .field-collection-item--name-field-tuition-info .grad-split .undergrad-header {
        display: none; }
      .field-collection-item--name-field-tuition-info .grad-split .undergrad-header-small {
        display: block;
        height: 60px; }
      .field-collection-item--name-field-tuition-info .grad-split .graduate-header {
        height: 60px;
        line-height: 40px; } }
    @media screen and (max-width: 767px) {
      .field-collection-item--name-field-tuition-info .grad-split .undergrad-header-small, .field-collection-item--name-field-tuition-info .grad-split .graduate-header {
        margin: 0 10px; } }
    .field-collection-item--name-field-tuition-info .grad-split .management-law-header {
      width: 550px;
      color: #6a6a6b; }
      @media screen and (max-width: 1223px) {
        .field-collection-item--name-field-tuition-info .grad-split .management-law-header {
          width: auto;
          text-align: right; } }
    .field-collection-item--name-field-tuition-info .grad-split > div {
      width: 400px; }
      @media screen and (max-width: 1223px) {
        .field-collection-item--name-field-tuition-info .grad-split > div {
          width: 250px; } }
      @media screen and (max-width: 767px) {
        .field-collection-item--name-field-tuition-info .grad-split > div {
          width: 150px; } }
      .field-collection-item--name-field-tuition-info .grad-split > div .lds-split {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split > div {
          position: relative;
          width: 150px;
          margin: 10px; }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .credits {
          background-color: #e5e5e5;
          color: #6a6a6b;
          width: 400px;
          padding: 5px 1em;
          position: absolute;
          top: 35px;
          z-index: -1000; }
          @media screen and (max-width: 991px) {
            .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .credits {
              display: none; } }
          @media screen and (min-width: 992px) and (max-width: 1223px) {
            .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .credits {
              top: 30px;
              width: 150px; } }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .undergrad-credits {
          text-align: left;
          left: -8em; }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .grad-credits {
          text-align: right;
          left: 4.5em; }
          @media screen and (min-width: 992px) and (max-width: 1223px) {
            .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .grad-credits {
              left: 8.5em; } }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .per-semester {
          font-size: 12px;
          font-weight: normal;
          text-transform: uppercase; }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .tuition-price {
          padding: 10px 0; }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .lds-left .tuition-price {
          background-color: #ffe7a2; }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .non-lds-right .tuition-price {
          background-color: #fcc015; }
        @media screen and (min-width: 1224px) {
          .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .non-lds-right .credits {
            display: none; } }
        @media screen and (max-width: 1223px) {
          .field-collection-item--name-field-tuition-info .grad-split > div .lds-split .non-lds-right.smaller-border {
            border-bottom: 1px solid #c5c5c5;
            padding-bottom: 10px;
            margin-bottom: 10px; } }
      @media screen and (min-width: 1224px) {
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split.management-law .h9 {
          display: none; }
        .field-collection-item--name-field-tuition-info .grad-split > div .lds-split.management-law .grad-credits {
          top: 12px; } }
  .field-collection-item--name-field-tuition-info .field--name-field-more-tuition-details-link {
    margin-top: 50px; }
    .field-collection-item--name-field-tuition-info .field--name-field-more-tuition-details-link a {
      color: white;
      background-color: #0057B8;
      padding: 10px 20px; }
    .field-collection-item--name-field-tuition-info .field--name-field-more-tuition-details-link a:hover {
      text-decoration: none; }

.backFiller {
  border-left-color: #e5e5e5; }

/* big ugly page re-ordering for 768-991 px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .view-id-admissions_links.view-display-id-block_1 .view-content > ul {
    flex-direction: column;
    align-items: center; }
  .backFiller {
    border-left-color: transparent; }
  .more-tuition-details {
    display: none; }
  .more-tuition-details-bottom {
    display: block; }
  .freshman_and_tuition {
    display: flex;
    flex-direction: row-reverse; }
    .freshman_and_tuition > div {
      width: 50%; }
    .freshman_and_tuition .freshman_profile_wrapper {
      padding-top: 200px; }
    .freshman_and_tuition .field-collection-item--name-field-tuition-info {
      margin-top: 110px; }
      .freshman_and_tuition .field-collection-item--name-field-tuition-info .tuition-header {
        width: 300px;
        padding: 20px 10px; }
      .freshman_and_tuition .field-collection-item--name-field-tuition-info div.branchpath div.branchpath-svg-container {
        width: 182px; }
      .freshman_and_tuition .field-collection-item--name-field-tuition-info .grad-split > div {
        width: 160px; }
      .freshman_and_tuition .field-collection-item--name-field-tuition-info .grad-split .undergrad-header, .freshman_and_tuition .field-collection-item--name-field-tuition-info .grad-split .undergrad-header-small, .freshman_and_tuition .field-collection-item--name-field-tuition-info .grad-split .graduate-header {
        margin: 10px;
        width: 140px; }
      .freshman_and_tuition .field-collection-item--name-field-tuition-info .grad-split .management-law-header {
        position: relative;
        width: 150%;
        right: 55%; }
      .freshman_and_tuition .field-collection-item--name-field-tuition-info .tuition-bottom-area {
        position: relative;
        width: 200%;
        background-color: white;
        padding-top: 30px; }
        .freshman_and_tuition .field-collection-item--name-field-tuition-info .tuition-bottom-area .subsidies {
          width: 600px;
          margin-left: auto;
          margin-right: auto; }
        .freshman_and_tuition .field-collection-item--name-field-tuition-info .tuition-bottom-area .field--name-field-more-tuition-details-link {
          margin-top: 30px; } }

/*# sourceMappingURL=admissions.css.map */
