@import "mixins";
article.node--type-campus-life {
  @media screen and (min-width: 768px) {
    padding-top: 44px;
  }
}
.type-campus-life .main .node__content > .campus-life-main-content-layout {
  @media screen and (min-width: 1024px) and (max-width: 1223px) {
    max-width: none;
  }
}
.view-campus-life-links {
  .view-content {
    a:focus,
    a:hover {
      color: $medblue;
    }
    ul {
      list-style-type: none;
      padding-left: 10px;
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      > li {
        width: 300px;
        margin-bottom: 50px;
        margin-right: 15px;
        position: relative;
        @media screen and (max-width: 767px) {
          max-width: 265px;
          margin-right: 30px;
        }
        > .views-field-name {
          display: block;
          background-color: $navy;
          padding: 0px 10px;
          .v3 {
            color: white;
          }
        }
        > .views-field-field-icon {
          position: absolute;
          right: -25px;
          top: -3px;
          padding: 0;
          background-color: white;
          border-radius: 25px;
          img {
            width: 50px;
            height: 50px;
            padding: 5px;
          }
        }
        li .v4 {
          line-height: 40px;
          text-transform: none;
        }
      }
    }
    // this targets links but not main category sections
    ul > li > ul > li > .views-field-name .v3.all-caps {
      text-transform: none;
    }
  }
}
section.page-header {
  display: none;
}
.campus-life-main-content-layout {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  position: relative;
  top: -25px;
  padding-top: 85px;
  @media screen and (max-width: 1223px) {
    top: 0;
  }
  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1.2fr;
    -ms-grid-columns: 1fr 1fr 1.2fr;
  }
}
.field-collection-item--name-field-sober-info .content {
  display: flex;
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.field--name-field-years-sober {
  grid-column-end: span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  @media screen and (max-width: 1023px) {
    grid-column-end: span 4;
    -ms-grid-column-span: 4;
  }
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 43px;

  .sober-rank-block {
    font-size: 32px;
    line-height: 40px;

    @media screen and (max-width: 425px) {
      font-size: 22px;
    }

    .number-one {
      font-size: 50px;

      @media screen and (max-width: 425px) {
        font-size: 30px;
      }
    }

    .lines-two-three {
      font-size: 50px;
      line-height: 50px;

      @media screen and (max-width: 425px) {
        font-size: 30px;
        line-height: 30px;
      }
    }

    .line-four {
      margin-bottom: 14px;

      @media screen and (max-width: 425px) {
        margin-bottom: 10px;
      }
    }

    .line-five {
      font-size: 18px;
      line-height: 22px;

      @media screen and (max-width: 425px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
.field--name-field-sober-image {
  -ms-grid-column: 3;
  background-color: $white;
  @media screen and (min-width: 1024px) {
    grid-row-end: span 2;
    -ms-grid-row-span: 2;
  }
  @media screen and (max-width: 1023px) {
    -ms-grid-column: 5;
    grid-column-end: span 2;
    -ms-grid-column-span: 2;
  }
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 1024px) {
    img {
      bottom: 43px;
      position: relative;
    }
  }
  @media screen and (min-width: 1425px) {
    img {
      bottom: 80px;
      position: relative;
    }
  }
}
.promo-link-item.field__item {
  padding: 5px;
  padding-bottom: 0;
  padding-left: 0;
  cursor: pointer;
  -ms-grid-row: 2;
  &:last-of-type {
    -ms-grid-column: 2;
    @media screen and (max-width: 1023px) {
      -ms-grid-column: 4;
    }
  }
  @media screen and (max-width: 767px) {
    padding-right: 0;
  }
  @media screen and (max-width: 1023px) {
    padding-top: 10px;
    grid-column-end: span 3;
    -ms-grid-column-span: 3;
  }

  img {
    width: 100%;
    height: auto;
  }
  .field--name-field-link {
    padding: 10px;
    background-color: rgba(0, 46, 93, 0.8);
    position: relative;
    width: 100%;
    bottom: 43px;
  }
  a {
    color: white; // difficult to figure out where to add the 'white' class to get this
  }
  a:focus,
  a:hover {
    text-decoration: none;
  }
  .field-collection-item--name-field-promo-link:focus,
  .field-collection-item--name-field-promo-link:hover {
    box-shadow: 2px 2px 5px #888;
    height: 203px;
    .field--name-field-link {
      @include hover-to-royal();
    }
  }

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .promo-link-item.field__item:last-of-type {
    padding-right: 0;
    padding-left: 5px;
  }
}
@media screen and (max-width: 700px) {
  .field--name-field-promo-link {
    flex-wrap: wrap;
    justify-content: center;
  }
  .field--name-field-years-sober {
    font-size: 7vw;
    padding-left: 5px;
    .sober-year-block {
      padding-left: 20px;
    }
    .sober-princeton {
      padding-left: 5vw;
    }

  }
  .field--name-field-sober-image {
    img {
      padding-right: 0;
    }
  }
}
