@import "mixins";

article.node--type-campus-life {
    @media screen and (min-width: 768px) {
        padding-top: 44px;
    }
}

.type-campus-life .main .node__content > .campus-life-main-content-layout {
    @media screen and (min-width: 1024px) and (max-width: 1223px) {
        max-width: none;
    }
}

.view-campus-life-links {
    .view-content {
        a:focus,
        a:hover {
            color: $royal;
        }
        ul {
            list-style-type: none;
            padding-left: 10px;
        }
        > ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            > li {
                width: 300px;
                margin-bottom: 50px;
                margin-right: 15px;
                position: relative;
                > .views-field-name {
                    display: block;
                    background-color: $medblue;
                    padding: 10px;
                    .v4 {
                        color: white;
                        font-size: 18px;
                    }
                }
                > .views-field-field-icon {
                    position: absolute;
                    right: -25px;
                    top: -3px;
                    padding: 0;
                    background-color: white;
                    border-radius: 25px;
                    box-shadow: 1px 1px 2px;
                    img {
                        width: 50px;
                        height: 50px;
                        padding: 5px;
                    }
                }
                li .v4 {
                    line-height: 40px;
                    text-transform: none;
                }
            }
            > li:focus,
            > li:hover {
                > .views-field-field-icon {
                    box-shadow: 2px 2px 8px;
                }
            }
        }
    }
}

section.page-header {
    display: none;
}

.campus-life-main-content-layout {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    position: relative;
    top: -25px;
    padding-top: 85px;
    background-color: $lightgray;
    @media screen and (max-width: 1223px) {
        top: 0;
    }
    @media screen and (max-width: 1023px) {
        grid-template-columns: repeat(6, 1fr);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 767px) {
        display: block;
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1.2fr;
        -ms-grid-columns: 1fr 1fr 1.2fr;
    }
}

.field-collection-item--name-field-sober-info .content {
    display: flex;
    @media screen and (max-width: 700px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.field--name-field-years-sober {
    grid-column-end: span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    @media screen and (max-width: 1023px) {
        grid-column-end: span 4;
        -ms-grid-column-span: 4;
    }
    display: flex;
    justify-content: center;
    background-color: $lightgray;
    color: #666;
    font-family: $ringside;
    font-weight: bold;
    font-size: 45px;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;

    .sober-center {
        margin-top: auto;
        margin-bottom: auto;
    }

    .sober-rank-block {
        display: flex;
        align-items: flex-end;
    }
    .sober-number-1 {
        font-size: 85px;
        line-height: 84px;
        padding-left: 10px;
    }
    .sober-stone-cold-sober {
        color: $navy;
        font-style: italic;
    }
    .sober-university {
        color: $navy;
        text-transform: uppercase;
        text-align: justify;
    }
    .sober-year-block {
        display: flex;
        align-items: flex-start;
    }
    .sober-for-the-past {
        font-size: 30px;
    }
    .sober-years-text {
        font-size: 30px;
        text-align: justify;
    }
    .sober-years-number {
        font-size: 85px;
        line-height: 75px;
        padding-left: 122px;
        padding-right: 8px;
    }
    .sober-princeton {
        font-style: italic;
        font-size: 16px;
        padding-left: 250px;
        font-weight: normal;
    }
}
.field--name-field-sober-image {
    -ms-grid-column: 3;
    @media screen and (min-width: 1024px) {
        grid-row-end: span 2;
        -ms-grid-row-span: 2;
    }
    @media screen and (max-width: 1023px) {
        -ms-grid-column: 5;
        grid-column-end: span 2;
        -ms-grid-column-span: 2;
    }
    img {
        width: 100%;
        height: auto;
    }
    @media screen and (min-width: 1024px) {
        position: relative;
        img {
            position: absolute;
            bottom: 0
        }
    }
}

.promo-link-item.field__item {
    padding: 5px;
    padding-bottom: 0;
    padding-left: 0;
    background: white;
    cursor: pointer;
    -ms-grid-row: 2;
    &:last-of-type {
        -ms-grid-column: 2;
        @media screen and (max-width: 1023px) {
            -ms-grid-column: 4;
        }
    }
    @media screen and (max-width: 767px) {
        padding-right: 0;
    }
    @media screen and (max-width: 1023px) {
        padding-top: 10px;
        grid-column-end: span 3;
        -ms-grid-column-span: 3;
    }

    img {
        width: 100%;
        height: auto;
    }
    .field--name-field-link {
        background: $navy;
        padding: 10px;
        text-align: center;
    }
    a {
        color: white;
        font-family: $ringside;
        font-size: 25px;
        font-weight: 500;
    }
    a:focus,
    a:hover {
        text-decoration: none;
    }
    .field-collection-item--name-field-promo-link:focus,
    .field-collection-item--name-field-promo-link:hover {
        box-shadow: 2px 2px 5px #888;
        .field--name-field-link {
            @include hover-to-royal();
        }
    }

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .promo-link-item.field__item:last-of-type {
        padding-right: 0;
        padding-left: 5px;
    }
}

@media screen and (max-width: 700px) {
    .field--name-field-promo-link {
        flex-wrap: wrap;
        justify-content: center;
    }
    .field--name-field-years-sober {
        font-size: 7vw;
        padding-left: 5px;
        .sober-number-1 {
            font-size: 12vw;
            line-height: 12vw;
        }
        .sober-years-number {
            padding-left: 20px;
            font-size: 17vw;
            line-height: 14vw;
        }
        .sober-for-the-past {
            font-size: 6vw;
        }
        .sober-years-text {
            font-size: 6vw;
        }
        .sober-princeton {
            font-size: 5vw;
            padding-left: 65px;
        }
    }
    .field--name-field-sober-image {
        img {
            padding-right: 0;
        }
    }
}
