@import "mixins";

#block-quicktabscollegesdepartments > h2 {
  display: none;
}

ul.quicktabs-tabs > li.active {
  display: none;
}

ul.quicktabs-tabs > li {
  font-size: 16px;
  margin: 0;
}

.view-id-colleges {

  .view-content > ul > li > .views-field {
    padding: 30px 0 20px 0;
  }

  .view-content > ul {
    list-style-type: none;
    padding: 0;
  }
  // redo this more organized with nesting?
  .view-content > ul > li > ul {
    padding: 0 0 10px 25px;
  }

  .view-content > ul > li > ul > li {
    list-style-type: disc;
  }
  // sections of subs sections
  .view-content > ul > li > ul > li > ul {
    padding: 5px 0 8px 25px;
  }

  .view-content > ul > li > ul > li > ul > li {
    list-style-type: circle;
  }

  .view-content > ul > li > .views-field a {  //colleges
    @include v2();
    font-family: $ringside;
  }

  .view-content > ul > li > ul > li > .views-field span {  //sub-categories
    @include v3();
    color: $darkgray;
  }

  .view-content > ul > li > ul > li > .views-field a,
  .view-content > ul > li > ul > li > ul > li > .views-field a {  //departments
    font-size: 16px;
    font-weight: normal;
  }
}

.view-colleges-alphabetical .view-content > div > h3 {
  @include letterHeaders();
}