@import "homepage";

.field--name-field-somethings {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        justify-content: space-around;
    }
    flex-wrap: wrap;
    .field--name-field-something-to-type::before {
        content: "Something to ";
    }
    > .field__item {
        cursor: pointer;
        border: 1px solid $gray;
        width: 250px;
        @media screen and (min-width: 768px) and (max-width: 991px) {
            width: 154px;
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            width: 211px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
        .field--name-field-something-to-type {
            text-align: center;
            text-transform: uppercase;
            padding: 15px 5px;
            color: white;
            background-color: $medgray;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
        .something-to-do {
            background-color: $navy;
        }
        .something-to-read {
            background-color: $medblue;
        }
        .something-to-see {
            background-color: $gray;
        }
        span.something-to-type {
            font-weight: bold;
            font-style: italic;
        }

        .field--name-field-image {
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }

        .field--name-field-link {
            padding: 0px 15px;
            margin-top: 10px;
            a:hover {
                text-decoration: none;
            }
        }
    }
    > .field__item:hover {
        box-shadow: 3px 3px 1px $lightgray;
        a {
            font-weight: bold;
        }
    }
}

section.page-header {
    display: none;
}
