@import "mixins";
/* ----------- BYU HOMEPAGE SPECIFIC--------- */
a {
  color: $navy;
}
a:hover {
  color: $royal;
}

.navy-circle {
  @include navy-circle(156px); // default
  // include this line for your specific navy-circle's and override the size for your specific circles
}

.vertical-dots {
  @include vertical-dots();
  .gray-dot {
    @include gray-dot();
  }
}

/* ----- helpful classes ----------- */
.normal-weight {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.semibold {
  font-weight: 500;
}
.all-caps {
  text-transform: uppercase;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
.centered-text {
  text-align: center;
}
.centered-margin {
  margin-left: auto;
  margin-right: auto;
}

@mixin button() {
  padding: 12px 25px;
  a:hover {
    text-decoration: none;
  }
}

.royal-button {
  @include button();
  background: $royal;
  color: #fff;
  a, a:hover, a:active, a:visited {
    color: #fff;
  }
}
.medblue-button {
  @include button();
  background: #002e5d; /* change to medium blue */
  color: #fff;
}

// background
.bg-lightgray {
  background: $lightgray;
}
.bg-darkgray {
  background: $darkgray;
}

// used so far on about page - don't change
$circle-width: 156px;
.navy-circle {
  //background: $navy;
  //padding: 25px ;
  //border: 2px solid $medgray;
  //border-radius: 50%;
  //width: $circle-width;
  //height: $circle-width;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
}

.vertical-dots {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  margin: 15px 0px;
  .gray-dot {
    color: $medgray;
    font-size: 60px;
    margin: 0px;
    display: none;
    // this is applied WHEN it is scrolled to that section, then add this animation css:
    //animation: 1s fadein;  // then they are display: block
  }
}

// animation delay on later dots:

//.gray-dot.dot-2 { animation-delay: 250ms }
//.gray-dot.dot-3 { animation-delay: 500ms }
//.gray-dot.dot-4 { animation-delay: 750ms }
//.gray-dot.dot-5 { animation-delay: 1000ms }
//.gray-dot.dot-6 { animation-delay: 1250ms }
//.gray-dot.dot-7 { animation-delay: 1500ms }
//.gray-dot.dot-8 { animation-delay: 1750ms }
//.gray-dot.dot-9 { animation-delay: 2000ms }
//.gray-dot.dot-10 { animation-delay: 2250ms }



// testing if this works
.blue-dot-after {
  &:after {
    content: "*";
    color: $navy;
  }
}


/* ----------- Shared / General CSS Animations -------- */

// dots appearing animation, may be reused by using classes .dot-1 etc

// the class '.gray-dot' uses fadein animation
@keyframes fadein {
  0% { opacity: 0 }
  50% { opacity: .7 }
  100% { opacity: 1 }
}
@keyframes fadeinfast {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

/* --------- Regions ---------- */


/* ---- header --- */
.byu-search .visually-hidden,
.byu-search input#edit-submit {
  display: none;
}
.byu-search .form-control.__byu-search-selected-input {
  width: 100%;
  height: 35px;
}


/* ----- main page --------- */
//4 main content types that have stretch-full-width with bars
.type-about, .type-academic, .type-admissions, .type-campus-life, .type-yfacts-test {
  .main {
    padding: 30px 0px;
    .node__content > :not(.full-width-bar) {
      //max-width: 1224px;

      // margin for all large screens:
      @media screen and (min-width: 1024px) {
        margin-left: auto;
        margin-right: auto;
      }


      @media screen and (min-width: 1424px) {
        max-width: 1224px;
      }
      @media screen and (max-width: 1424px) and (min-width: 1224px) {
        max-width: 1024px;
      }
      @media screen and (max-width: 1223px) and (min-width: 1024px) {
        max-width: 824px;
      }
      // we don't set a max-width on mobile ones now because a lot of them are full width for mobile & Tablet:

      @media screen and (max-width: 1023px) and (min-width: 768px) {
        //max-width: 600px;
      }
      @media screen and (max-width: 767px) and (min-width: 400px) {
        //max-width: 90%;
      }
      @media screen and (max-width: 400px) {
        //max-width: 300px;
      }
    }
    .container {
      width: 100%;
      padding: 0px;
    }

    .full-width-bar {
      width: 100%;
      max-width: 100%;
      padding: 30px 15px;
      // default constrained width settings, override for specific fields

      .field, .full-width-bar-inner {
        @include fieldWithMaxWidth();
      }
      // use if the bar has several fields that aren't 100% width and you
      // want to display them nicely in columns or with flex (add this div inside the
      // group's template file - see field-group-html-element--about-bar as an example
      .full-width-bar-inner {
        display: flex;
      }
    }

    .full-width-bar.has-yfacts {
      padding: 0;
    }

  }
}


/* ----------- Front Page ------- */



  //Page Header

.main > .container {
  @media screen and (min-width: 1424px) {
    width: 1224px;
    padding: 0px 12px;
  }
  @media screen and (max-width: 1424px) and (min-width: 1224px) {
    width: 1024px;
  }
  @media screen and (max-width: 1223px) and (min-width: 1024px) {
    width: 824px;
  }
}

  .views-field.views-field-field-header-image {
    margin-top: -4vw;
  }

  byu-menu.byu-component-rendered a.is-active {
      background-color: #ddd;
  }

/* -------- Basic Pages ------------- */
.main {
  padding: 30px 0px;
}
