//BYU Colors

// blues
$navy: #002E5D;
$darknavy: #002040;
$medblue: #5D7998 ; // was 869DB5 but not quite accessible
$lightBlue: #e0f0cc;
$xlightblue: #C3DDF9;

$royal: #0057B8; // was #003DA5
$lightRoyal: #114BAD;

// There are 7-9 grays right now..
$xlightgray: #f2f2f2;
$lightgray: #e6e6e6; // will likely change to e6e6e6
$lightergray: #e6e6e6;
$medgray: #767676; // extra
$gray: #c5c5c5;
$darkgray: #666; // went from 4a4a4a to 666
$darkestgray: #141414;  // this should be used for body & default text.
// we are also using #666 and #777 in some places

// other colors
$red: #B3041A;

$yellow: #FCC015; // goldish-orange darker yellow
$lightyellow: #fef2d0;



$teal: #84DCB4;
$lightteal: #C4F7E0;

$green: #66B200; // doesn't work with accessibility
$lightgreen: #e0f0cc;

$white: #FFF;

/* ---- fonts ---- */
//$ringside: "Gotham A", "Gotham B", Arial, sans-serif;
$ringside: "Ringside Narrow A", "Ringside Narrow B", sans-serif;
$vitesse: "Vitesse A", "Vitesse B", serif;


/* ------------- Headings Etc -------------------- */
body {
  font-family: $ringside;
}

h1, h2, h3, h4, .h1, .v2, .h3, .h4, .v4, .v3, .large-text, .medium-text, .v4,
h1 a, h2 a, h3 a, h4 a, .h1 a, .v2 a, .h3 a, .h4 a, .v4 a, .v3 a, .large-text a, .medium-text a, .v4 a {
  color: $navy;
}
.v3.gray, .v3.gray a, .medium-text.gray, .medium-text.gray a {
  color: $medgray;
}
.white {
  color: #fff;
}
h1, h2, .h1, .v2 {
  font-family: $vitesse;
}
h3, .v3, h4, .v4, .large-text, .medium-text, .v4, .banner-text, .h1-navy .banner-text {
  font-family: $ringside;
}

h1, .h1, .v1 {
  font-size: 35px;
  line-height: 34px;
  text-align: center;
}
h2, .v2  {
  font-size: 25px;
  line-height: 34px;
  font-weight: 500!important;
  //text-align: center;
}

//.v3 { // merging with h3 but diff font weight.. check on line height..
//  font-size: 16px;
//  font-weight: 500;
//  line-height: 26px;
//  letter-spacing: .4px;
//  a:hover, a:focus  {
//    color: $royal;
//  }
//}



h3, .v3 {
  //font-size: 22px; // checking 20 to 22px
  //  smaller w media queries below.
  font-weight: 500;
  //letter-spacing: .5px;


}
h3.normal-weight, .v3.normal-weight {
  a:hover, a:focus {
    font-weight: 500;
  }
}

h4, .v4 { // h9 & h3 combo
  //font-size: 17px; // was 15, then was 16, testing 16 to 17 rt now
  letter-spacing: 0.2px;
  line-height: 19px;
  @media screen and (max-width: 1024px) { // already below
    font-size: 16px;
  }
  a:hover, a:focus {
    //font-weight: 500; // might use this later, idk if it should be applied so generally
  }
}
//.v4 {  // basically the same as normal text.. just center-aligned.. try to merge with .v4
//  font-size: 14px;
//  line-height: 16px;
//  //letter-spacing: -.2px;
//  //text-align: center;
//}

//h4 { // used in calendar module frontpage - not used on any other pages, ONLY in the calendar module.
//  font-size: 18px;
//  line-height: 20px;
//  a:hover, a:focus {
//    color: $royal;
//  }
//}
//h5 {  // changing to a small-text class, never used as a heading
//  font-weight: bold;
//  font-size: 12px;
//  line-height: 14px;
//  letter-spacing: .33px;
//}
// change this to a .v2.ringside ? or another class?
// could this one be switched to the other font (v2) in all cases to condense?
//h6 {  // in mockups H6 was shown next to 85px size, 25px size, and 12px size..
//  font-size: 25px;
//  line-height: 27px;
//  text-transform: uppercase;
//  text-align: center;
//}
//.h7 { // just the same as normal paragraph and bold and uppercase? or maybe we use this as h6 to have uppercase and bold..?.
//  font-size: 14px;
//  font-weight: bold;
//  line-height: 14px;
//  text-transform: uppercase;
//  text-align: center;
//}


@mixin jumbo-text() {

  font-weight: 600;
  font-size: 130px;
  font-family: $ringside;
  color: $navy;
  padding: 0px 25px;
  line-height: normal; // katria added this in font conversion
  @media screen and (max-width: 1023px) {
    //padding-top: 30px;
  }
}
.jumbo-text {
  @include jumbo-text();
}

@mixin xlarge-text() {
  font-size: 85px;
  line-height: 84px;
  padding-left: 10px;
  @media screen and (max-width: 768px) {
    font-size: 75px;
    line-height: 74px; // check if this messes stuff up
  }
}
.xlarge-text {
  @include xlarge-text();
}

 // numbers inside navy circles - use a class instead - where is this used outside of the circles?
.large-text {
    font-family: $ringside;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -2.5px;
    font-weight: 500;
    &.white {
      color: #fff;
    }
  }

// one case i couldn't add the class, so need a mixin
// no mobile adjustment
@mixin medium-text() {
  font-family: $ringside;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  @media screen and (max-width: 1024px){
    font-size: 26px;
  }

}
.medium-text {
  @include medium-text();
}
.v4 {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  /*letter-spacing:*/
  a:hover, a:focus  {
    color: $royal;
  }
}
$h13-mobile-font:45px;
$h13-tabletp-font:90px;
$h13-tabletl-font: 120px;
$h13-desktop-font:135px;
$h13-desktopw-font: 200px;
.banner-text {
  font-size: $h13-mobile-font;
  //line-height: $h13-mobile-font;
  color: #fff!important;
}
.view-content-page-header .views-field-title {
  margin-top: ($h13-mobile-font *.73*-1);
  margin-bottom: ($h13-mobile-font *.73);
  h1 {
      background-color: $darknavy;
  }
}


@media screen and (min-width: 768px) {
  .banner-text {
    font-size: $h13-tabletp-font;
    //line-height: $h13-tabletp-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($h13-tabletp-font *.54*-1);
    margin-bottom: ($h13-tabletp-font *.50);
  }

}
@media screen and (min-width: 1024px) {
  h2, .v2 { // this larger text refers to on the about page only
    font-size: 30px;
  }
  h3, .v3 {
    font-size: 16px; // has to be 16, not 17 - breaks somethings
    line-height: 23px; // check if this is okay everywhere for .v3
  }
  .banner-text {
    font-size: $h13-tabletl-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($h13-tabletl-font *.50*-1);
    margin-bottom: ($h13-tabletl-font *.50);
  }


}
@media screen and (min-width: 1224px) {
  h1, .v1 {
    font-size: 40px;
  }
  h2, .v2 {
    font-size: 35px;
  }

  h4, .v4 {
    font-size: 17px; // testing 16 to 17
    line-height: 17px;
  }
  h3, .v3 {
    font-size: 23px;
    letter-spacing: .5px;
    //line-height: 48px;
  }
  .large-text {
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -2.5px;
    font-weight: 500;
  }
  .banner-text {
    font-size: $h13-desktop-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($h13-desktop-font *.48*-1);
    margin-bottom: ($h13-desktop-font *.50);
  }

}
@media screen and (min-width: 1824px) {

  .banner-text {
    font-size: $h13-desktopw-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($h13-desktopw-font *.44*-1);
    margin-bottom: ($h13-desktopw-font *.45);
  }
}


// general mixins

@mixin vertical-center-margin() {
  margin-top: auto;
  margin-bottom: auto;
}
.vertical-center-margin {
  @include vertical-center-margin();
}

@mixin fieldWithMaxWidth() {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  // katria added these max-width adjustments for mobile & tablet - need to make sure this works for everyone's.
  // Aleni has told me specifics for some of these numbers and others are guesses based on the mockups.
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 700px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1223px) {
    max-width: 900px;
  }
  @media screen and (min-width: 1224px) and (max-width: 1423px) {
    max-width: 1024px;
  }
}

@mixin tabletAreaWithMaxWidth() {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px!important;
  }
}

@mixin navy-circle($circle-width) {
  background: $navy;
  padding: 25px ;
  border: 2px solid $medgray;
  border-radius: 50%;
  width: $circle-width;
  height: $circle-width;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}




@mixin vertical-dots() {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  margin: 15px 0px;
}
@mixin gray-dot() {
  color: $medgray;
  font-size: 60px;
  margin: 0px;
}

@mixin button() {
  padding: 12px 25px;
  font-weight: 700; // katria testing with new font change - i think all are bolded..
  color: #fff;
  text-align: center; // katria testing with new font change, i think all are centered..?
  a:hover, a:focus  {
    text-decoration: none;
    color: #fff;
  }
}


@mixin hover-to-royal() {
    color: white;
    text-decoration: none;
    background-color: $royal;
    transition: background 0.2s;
}
@mixin hover-to-navy() {
    color: white;
    text-decoration: none;
    background-color: $navy;
    transition: background 0.2s;
}
.hover-to-royal:focus,
.hover-to-royal:hover {
    @include hover-to-royal();
}
.hover-to-navy:focus,
.hover-to-navy:hover {
    @include hover-to-navy();
}

.royal-button a {
  @include button();
  background: $royal;
  color: #fff;
  text-decoration: none;
  &:hover, a:focus {
      @include hover-to-navy();
  }
}

.medblue-button a {
  @include button();
  background: $medblue; /* change to medium blue */
  color: #fff;
  &:focus,
  &:hover {
    @include hover-to-royal();
  }
}

// For A-Z Index, Colleges & Departments, etc
@mixin letterHeaders() {
  margin: 20px 0px 5px;
  font-weight: 500;
  @media screen and (max-width: 1024px) {
    margin: 20px 0px 0px;
  }
}

@mixin extra-space() {
  line-height: 240%!important;
  @media screen and (max-width: 1023px) {
    line-height: 250%!important;
  }
}