//BYU Colors

// blues
$navy: #002E5D;
$darknavy: #002040;
$medblue: #869DB5;
$lightBlue: #e0f0cc;
$xlightblue: #C3DDF9;
$brightBlue: #0057B8;

$royal: #003DA5;
$lightRoyal: #114BAD;

// There are 6 grays right now..
$xlightgray: #f2f2f2;
$lightgray: #e5e5e5;
$lightergray: #e6e6e6;
$medgray: #767676; // extra
$gray: #c5c5c5;
//$medgray: #666;
$darkgray: #6a6a6b; // least used gray
$darkestgray: #141414;  // this should be used for body & default text.


// other colors
$red: #B3041A;

$yellow: #FCC015;
$lightyellow: #fef2d0;

$teal: #84DCB4;
$lightteal: #C4F7E0;

$green: #66B200; // doesn't work with accessibility
$lightgreen: #e0f0cc;
//$green: #4D8501; // was #6EAE17;
//$greendarkened: #498000 ; // was #6AA816;

// other blues Aleni has used:
//$lightestblue: #C4CFDA;
//$lightblue: #A6B6C7;
//$lightmedblue: #889FB7;
$medblue: #697F96;  // was #889FB7  but it couldn't have white on it with enough contrast
//$darkmedblue: #5B728A;  // #5B728A is enough contrast for small white text
$white: #FFF;

// fonts
$gotham: "Gotham A", "Gotham B", Arial, sans-serif;
$vitesse: "Vitesse A", "Vitesse B", serif;

// general mixins

@mixin fieldWithMaxWidth() {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@mixin navy-circle($circle-width) {
  background: $navy;
  padding: 25px ;
  border: 2px solid $medgray;
  border-radius: 50%;
  width: $circle-width;
  height: $circle-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin vertical-dots() {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  margin: 15px 0px;
}
@mixin gray-dot() {
  color: $medgray;
  font-size: 60px;
  margin: 0px;
}