//BYU Colors

// blues
$navy: #002E5D;
$darknavy: #002040;
$medblue: #32538D; ; // was 869DB5 but not quite accessible
$lightBlue: #e0f0cc;
$xlightblue: #C3DDF9;

$royal: #0057B8; // was #003DA5
$lightRoyal: #114BAD;

// There are 7-9 grays right now..
$xlightgray: #f2f2f2;
$lightgray: #e6e6e6;
$medgray: #767676; // extra
$gray: #c5c5c5;
$darkgray: #666; // went from 4a4a4a to 666
$darkestgray: #141414;  // this should be used for body & default text.
// we are also using #666 and #777 in some places

// other colors
$red: #B3041A;

$yellow: #FCC015; // goldish-orange darker yellow
$lightyellow: #fef2d0;



$teal: #84DCB4;
$lightteal: #C4F7E0;

$green: #66B200; // doesn't work with accessibility
$lightgreen: #e0f0cc;

$white: #FFF;

/* ---- fonts ---- */
//$ringside: "HCo Ringside Narrow SSm", Arial, sans-serif;
$ringside: "HCo Ringside Narrow SSm", Arial, sans-serif;
$vitesse: "HCo Ringside Narrow SSm", Arial, sans-serif;


/* ------------- Headings Etc -------------------- */
body {
  font-family: $ringside;
}

h1, h2, h3, h4, .h1, .v2, .h3, .h4, .v4, .v3, .large-text, .medium-text, .v4,
h1 a, h2 a, h3 a, h4 a, .v1 a, .v2 a, .h3 a, .h4 a, .v4 a, .v3 a, .large-text a, .medium-text a {
  color: $navy;
}
.v3.gray, .v3.gray a, .medium-text.gray, .medium-text.gray a {
  color: $medgray;
}
.white, .jumbo-text.white {
  color: #fff;
}
h1, h2, .h1, .v2 {
  font-family: $vitesse;
}
h3, .v3, h4, .v4, .large-text, .medium-text, .v4, .banner-text, .h1-navy .banner-text {
  font-family: $ringside;
}

h1, .h1, .v1 {
  font-size: 35px;
  line-height: 34px;
  text-align: center;
}


@mixin v2() {
  font-size: 25px;
  line-height: 34px;
  font-weight: 300!important;
  @media screen and (min-width: 1024px) {
      font-size: 30px;
  }
  @media screen and (min-width: 1224px) {
    font-size: 38px;
    line-height: 44px;
  }
}
h2, .v2 {
  @include v2();
}

@mixin v3 {
  font-size: 16px; // base for mobile etc
  //font-size: 22px; // checking 20 to 22px
  //  smaller w media queries below.
  font-weight: 500;
  //letter-spacing: .5px;
  @media screen and (min-width: 1024px) {
    font-size: 15px; // has to be 16, not 17 - breaks somethings
    line-height: 23px; // check if this is okay everywhere for .v3
  }
  @media screen and (min-width: 1224px) {
    font-size: 17px!important;
    letter-spacing: .5px;
  }

}

h3, .v3 {
  @include v3();
}

h3.normal-weight, .v3.normal-weight {
  a:hover, a:focus {
    font-weight: 500;
  }
}



h4, .v4 { // h9 & h3 combo
  //font-size: 17px; // was 15, then was 16, testing 16 to 17 rt now
  letter-spacing: 0.2px;
  line-height: 19px;
  @media screen and (max-width: 1024px) { // already below
    font-size: 16px;
  }
  a:hover, a:focus {
    //font-weight: 500; // might use this later, idk if it should be applied so generally
  }
}

@mixin jumbo-text() {
  font-weight: 600;
  font-size: 130px;
  font-family: $ringside;
  color: $navy;
  padding: 0px 25px;
  line-height: normal; // katria added this in font conversion
  @media screen and (max-width: 1223px) {
    font-size: 110px;
  }
  @media screen and (max-width: 767px) {
      font-size: 90px;
  }
}
.jumbo-text {
  @include jumbo-text();
}

@mixin xlarge-text() {
  font-size: 85px;
  line-height: 84px;
  padding-left: 10px;
  @media screen and (max-width: 1023px) {
    font-size: 75px;
    line-height: 74px; // check if this messes stuff up
  }
  @media screen and (max-width: 767px) {
    font-size: 60px;
    line-height: 74px; // check if this messes stuff up
  }
}
.xlarge-text {
  @include xlarge-text();
}

 // numbers inside navy circles - use a class instead - where is this used outside of the circles?
.large-text {
    font-family: $ringside;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 1px;
    font-weight: 500;
    &.white {
      color: #fff;
    }
  // katria see if this is necessary for ytext:
  @media screen and (max-width: 1223px) { // test this on other pages
    font-size: 44px;
  }
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

}

// one case i couldn't add the class, so need a mixin
// no mobile adjustment
@mixin medium-text() {
  font-family: $ringside;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.8px; // improves readability
  @media screen and (max-width: 1024px){
    font-size: 26px;
  }

}
.medium-text {
  @include medium-text();
}
.v4 {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  /*letter-spacing:*/
  a:hover, a:focus  {
    color: $royal;
  }
}
$v1-mobile-font:45px;
$v1-tabletp-font:90px;
$v1-tabletl-font: 120px;
$v1-desktop-font:135px;
$v1-desktopw-font: 200px;
.banner-text {
  font-size: $v1-mobile-font;
  //line-height: $v1-mobile-font;
  color: #fff!important;
  text-transform: uppercase;
}
.view-content-page-header .views-field-title {
  margin-top: ($v1-mobile-font *.73*-1);
  margin-bottom: ($v1-mobile-font *.73);
  h1 {
      background-color: $darknavy;  // fallback if no image?
  }
}


@media screen and (min-width: 768px) {
  .banner-text {
    font-size: $v1-tabletp-font;
    //line-height: $v1-tabletp-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($v1-tabletp-font *.54*-1);
    margin-bottom: ($v1-tabletp-font *.50);
  }

}
@media screen and (min-width: 1024px) {
  //h2, .v2 { // this larger text refers to on the about page only
  //  font-size: 30px;
  //}
  h3, .v3 {
    font-size: 16px; // has to be 16, not 17 - breaks somethings
    line-height: 23px; // check if this is okay everywhere for .v3
  }
  .banner-text {
    font-size: $v1-tabletl-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($v1-tabletl-font *.50*-1);
    margin-bottom: ($v1-tabletl-font *.50);
  }


}
@media screen and (min-width: 1224px) {
  h1, .v1 {
    font-size: 40px;
  }
  //h2, .v2 {
  //  font-size: 35px;
  //}

  h4, .v4 {
    font-size: 15px; // testing 16 to 17
    line-height: 17px;
  }
  h3, .v3 {
    font-size: 17px;
    letter-spacing: .5px;
    //line-height: 48px;
  }
  //.large-text {
  //  font-size: 60px;
  //  line-height: 82px;
  //  letter-spacing: 1px;
  //  font-weight: 500;
  //}
  .banner-text {
    font-size: $v1-desktop-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($v1-desktop-font *.48*-1);
    margin-bottom: ($v1-desktop-font *.50);
  }

}
@media screen and (min-width: 1824px) {

  .banner-text {
    font-size: $v1-desktopw-font;
  }
  .view-content-page-header .views-field-title {
    margin-top: ($v1-desktopw-font *.44*-1);
    margin-bottom: ($v1-desktopw-font *.45);
  }
}


// general mixins
@mixin centered-margin() {
  margin-left: auto;
  margin-right: auto;
}


@mixin vertical-center-margin() {
  margin-top: auto;
  margin-bottom: auto;
}
.vertical-center-margin {
  @include vertical-center-margin();
}

@mixin fieldWithMaxWidth() {
  max-width: 1200px;
  @include centered-margin();
  // katria added these max-width adjustments for mobile & tablet - need to make sure this works for everyone's.
  // Aleni has told me specifics for some of these numbers and others are guesses based on the mockups.
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 700px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1223px) {
    max-width: 900px;
  }
  @media screen and (min-width: 1224px) and (max-width: 1423px) {
    max-width: 1024px;
  }
}

@mixin tabletAreaWithMaxWidth() {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px!important;
  }
}

@mixin navy-circle($circle-width) {
  background: $navy;
  padding: 25px ;
  border: 2px solid $white;
  border-radius: 50%;
  width: $circle-width;
  height: $circle-width;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}




@mixin vertical-dots() {
  display: flex;
  //flex-wrap: wrap;
  flex-direction: column;
  margin: 15px 0px;
}
@mixin gray-dot() {
  color: $medgray;
  font-size: 60px;
  margin: 0px;
}

@mixin button() {
  padding: 12px 25px;
  font-weight: 700; // katria testing with new font change - i think all are bolded..
  color: #fff;
  text-align: center; // katria testing with new font change, i think all are centered..?
  a:hover, a:focus  {
    text-decoration: none;
    color: #fff;
  }
}


@mixin hover-to-royal() {
    color: white;
    text-decoration: none;
    background-color: $medblue;
    transition: background 0.2s;
}
@mixin hover-to-navy() {
    color: white;
    text-decoration: none;
    background-color: $navy;
    transition: background 0.2s;
}
.hover-to-royal:focus,
.hover-to-royal:hover {
    @include hover-to-royal();
}
.hover-to-navy:focus,
.hover-to-navy:hover {
    @include hover-to-navy();
}

.royal-button a {
  @include button();
  background: $royal;
  color: #fff;
  text-decoration: none;
  &:hover, a:focus {
      @include hover-to-navy();
  }
}

.medblue-button a {
  @include button();
  background: $medblue; /* change to medium blue */
  color: #fff;
  &:focus,
  &:hover {
    @include hover-to-royal();
  }
}

// For A-Z Index, Colleges & Departments, etc
@mixin letterHeaders() {
  margin: 20px 0px 5px;
  font-weight: 500;
  @media screen and (max-width: 1024px) {
    margin: 20px 0px 0px;
  }
}

@mixin extra-space() {
  line-height: 240%!important;
  @media screen and (max-width: 1023px) {
    line-height: 250%!important;
  }
}
