@import "mixins";

.factsBanner {
  background-color: $navy;
  height: 150px;
  width:100%;
  position:relative;
  top: 110px;
  z-index: 100;
  transform:skew(0deg,5deg);
  -ms-transform:skew(0deg,5deg);
  -webkit-transform:skew(0deg,5deg);
  display: flex;
  justify-content: flex-end;
}

.yFactsText {
  color: white;
  display: flex;
  align-items: center;
  transform:skew(0deg,-7deg);
  -ms-transform:skew(0deg,-7deg);
  -webkit-transform:skew(0deg,-7deg);
}

.yText {
  font-family: "Vitesse A", "Vitesse B", Georgia, serif;
  font-size: 170px;
  font-weight: 500;
  position: relative;
  top: -31px;
  transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  -webkit-transform:rotate(7deg);
}

.factsText {
  font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 200px;
  position: relative;
  top: 5px;
  transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  -webkit-transform:rotate(7deg);
}

.backFiller {
  height: 0;
  border-top: 255px solid #fff;
  border-left: 1500px solid transparent;
  position: relative;
  z-index: 99;
  top: -155px;
  left: -500px;
  width: 150%;
  margin-bottom: -200px;
}

.lightgray-above.backFiller {
  border-top-color: $lightgray;
}

.field--name-field-yfacts-body {
  margin: 50px 0 0 0 !important;
  padding: 30px;
}

// Screens 1224px and up - LARGE SCREEN
@media screen and (min-width: 1224px) {
  .factsBanner {
    height: 120px;
    top: 115px;
  }

  .yText {
    font-size: 135px;
    top: -22px;
  }

  .factsText {
    font-size: 65px;
    padding-left: 0;
    padding-right: 120px;
    top: 8px;
  }

  .backFiller {
    border-top: 250px solid #fff;
    border-left: 2000px solid transparent;
    top: -120px;
    left: -500px;
    width: 150%;
    margin-bottom: -200px;
  }

  .field--name-field-yfacts-body {
    margin: 50px 0 0 0 !important;
    padding: 30px;
  }
}

// Screens 1024px to 1223px - FULL SCREEN
@media screen and (max-width: 1223px) {
  .factsBanner {
    height: 100px;
    top: 80px;
  }

  .yText {
    font-size: 110px;
    top: -18px;
  }

  .factsText {
    font-size: 55px;
    padding-left: 0;
    padding-right: 80px;
    top: 5px;
  }

  .backFiller {
    border-top: 175px solid #fff;
    border-left: 1500px solid transparent;
    top: -100px;
  }

  .field--name-field-yfacts-body {
    margin: 100px 0 0 0 !important;
    padding: 30px;
  }
}

// Screens 768px to 1023px - TABLET
@media screen and (max-width: 1023px) {
  .factsBanner {
    height: 100px;
    top: 65px;
  }

  .yText {
    font-size: 110px;
    top: -17px;
  }

  .factsText {
    font-size: 55px;
    padding-left: 0;
    padding-right: 70px;
    top: 5px;
  }

  .backFiller {
    border-top: 155px solid #fff;
    border-left: 1500px solid transparent;
    top: -100px;
  }

  .field--name-field-yfacts-body {
    margin: 125px 0 0 0 !important;
    padding: 30px;
  }
}

// Screens 320px to 767px - MOBILE
@media screen and (max-width: 767px) {
  .factsBanner {
    height: 80px;
    top: 50px;
  }

  .yText {
    font-size: 90px;
    top: -11px;
  }

  .factsText {
    font-size: 45px;
    padding-left: 0;
    padding-right: 15px;
    top: 5px;
  }

  .backFiller {
    border-top: 155px solid #fff;
    border-left: 1500px solid transparent;
    top: -80px;
  }

  .field--name-field-yfacts-body {
    margin: 85px 0 0 0 !important;
    padding: 30px;
  }
}
