<!-- The Modal -->
<div id="byu-modal" class="byu-modal">
    <!-- Modal content -->
    <div class="byu-modal-content">
        <div class="byu-modal-header navy">
            <span class="byu-close">&times;</span>
            <h2>Help Us Improve the BYU Homepage!</h2>
        </div>
        <div class="byu-modal-body">
            <p class="larger-text">Please answer this short 4 question survey:</p>
            <a class="byu-close inner-navy-button" href="https://byu.az1.qualtrics.com/jfe/form/SV_6Al4ZIEeRgx2qJ7"
               target="_blank">Take the Survey</a>
        </div>
        <div class="byu-modal-footer navy">
            <a class="byu-close" href="https://byu.az1.qualtrics.com/jfe/form/SV_6Al4ZIEeRgx2qJ7">
                <button class="byu-modal-button">Take the Survey</button>
            </a>
            {#<h3>The new BYU Homepage is coming soon.</h3>-->#}
        </div>
    </div>
</div>
<!-- end byu modal-->

